<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav class="bg-dark text-white navbar-custom">
            <div class="container d-flex align-items-center justify-content-between h-100">
                <a asp-page="/Index" class="navbar-custom-brand">Student Management System</a>
                <ul class="d-flex align-items-center justify-content-center gap-5 p-0 m-0 navbar-custom-links">
                    <li><a asp-page="/StudentInfo">Student Info</a></li>
                    <li><a asp-page="/StudentAdd">Add Student</a></li>
                    <li><a asp-page="/CourseAdd">Add Course</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex align-items-center justify-content-center">
            &copy; 2023 - StudentManagementSystem
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>