@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex align-items-center justify-content-center home">
    <h1 class="text-center my-5 home-title">Student Management System</h1>
</div>
